<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784990691438-q9ni6tteu6336u58fcdlf9opdm6cvtok.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784990691438-q9ni6tteu6336u58fcdlf9opdm6cvtok</string>
	<key>API_KEY</key>
	<string>AIzaSyDrrxlppgbY_tA6jdL1_JDQkrHuywtgyEo</string>
	<key>GCM_SENDER_ID</key>
	<string>784990691438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.groupingProject</string>
	<key>PROJECT_ID</key>
	<string>grouping-project-cb62c</string>
	<key>STORAGE_BUCKET</key>
	<string>grouping-project-cb62c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784990691438:ios:52f902509d7f29d88a467f</string>
</dict>
</plist>